@model SupplyProject.Models.EnvioFornecedor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EnvioFornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ano_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mes_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedidoFinal_usuario.idPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoFinal_usuario.idPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusEnvioFornecedor.statusEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusEnvioFornecedor.statusEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veiculo.tipo_veiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculo.tipo_veiculo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
