@model SupplyProject.Models.EnvioFornecedor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Envio do Fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Envio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEnvio)
        </dd>

        <dt>
            Id Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPedido)
        </dd>

        <dt>
            Usuario responsavel pelo pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoFinal_usuario.Usuario.nome_usuario)
        </dd>

        <dt>
              Placa do veiculo transportador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculo.placa_veiculo)
        </dd>

        <dt>
            Status do Envio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusEnvioFornecedor.statusEnvio)
        </dd>

        <dt>
            Data do envio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_envio)/@Html.DisplayFor(model => model.mes_envio)/@Html.DisplayFor(model => model.ano_envio)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Voltar para lista", "Index")
</p>
