@model IEnumerable<SupplyProject.Models.EnvioFornecedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Entregas em transito</h2>

<table class="table">
    <tr>
        <th>
            Id Envio
        </th>
        <th>
            Id Pedido
        </th>
        <th>
            Placa do veiculo transportador
        </th>
        <th>
            Status Envio
        </th>
        <th>
            Data Envio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idEnvio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idPedido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Veiculo.placa_veiculo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StatusEnvioFornecedor.statusEnvio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dia_envio)/@Html.DisplayFor(modelItem => item.mes_envio)/@Html.DisplayFor(modelItem => item.ano_envio)
    </td>
    <td>
        @if (Session["tipoUsuario"].ToString() == "Conferente-Armazem")
        {
            @Html.ActionLink("Concluir ", "Edit", new { id = item.idEnvio })
        }|      

        @Html.ActionLink("Details", "Details", new { id = item.idEnvio }) |

    </td>
</tr>
}

</table>
