@model IEnumerable<SupplyProject.Models.EnvioFornecedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Entregas Encerradas</h2>

<table class="table">
    <tr>
        <th>
            Id Envio
        </th>
        <th>
            Id Pedido
        </th>
        <th>
            Placa do veiculo transportador
        </th>
        <th>
            Status Envio
        </th>
        <th>
            Data Envio
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.placa_veiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusEnvioFornecedor.statusEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_envio)/@Html.DisplayFor(modelItem => item.mes_envio)/@Html.DisplayFor(modelItem => item.ano_envio)
            </td>
            <td>
                @*@Html.ActionLink("Concluir Pedido", "Edit","PedidoFinalUsuario", new { id = item.idPedido })|*@
                @*@if (Session["tipoUsuario"].ToString() == "Gerente" || Session["tipoUsuario"].ToString() == "SupplyChain")
                {
                    if (item.PedidoFinal_usuario.statusPedido == 1)
                    {
                        <a href="@Url.Action("Edit","PedidoFinalUsuario", new { id = item.idPedido })">Concluir Pedido</a>
                    }
                }*@

                @Html.ActionLink("Detalhes", "Details", new { id = item.idEnvio })

            </td>
        </tr>
    }

</table>
