@model SupplyProject.Models.Produto_produtor

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse item?</h3>
<div>
    <h4>Produto do Produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_prodP)
        </dd>

        <dt>
           Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_prodP)
        </dd>

        <dt>
           Peso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_prodP)
        </dd>

        <dt>
           Largura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largura_prodP)
        </dd>

        <dt>
            Altura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_prodP)
        </dd>

        <dt>
            Profundidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profundidade_prodP)
        </dd>

        <dt>
            Quantidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade_prodP)
        </dd>

        <dt>
            Tempo de produção
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempo_producaoP)
        </dd>

        <dt>
            Produtor responsável
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produtor.nome_produtor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
