@model SupplyProject.Models.Produto_produtor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto_produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_prodP)
        </dd>

        <dt>
            Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_prodP)
        </dd>

        <dt>
            Tempo em dias para producao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_prodP)
        </dd>

        <dt>
            Quantidade minima de producao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largura_prodP)
        </dd>

        <dt>
            Preco
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_prodP)
        </dd>

        <dt>
            Peso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profundidade_prodP)
        </dd>

        <dt>
            Altura em cm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade_prodP)
        </dd>

        <dt>
            Largura em cm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempo_producaoP)
        </dd>

        <dt>
            Profundidade em cm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produtor.nome_produtor)
        </dd>

        <dt>
            Produtor que produz
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produtor.nome_produtor)
        </dd>

    </dl>
</div>
<p>
    @if (Session["tipoUsuarios"].ToString() == "Produtor")
    {
        @Html.ActionLink("Atualizar", "Edit", new { id = Model.idProduto_produtor })
    }|

    @Html.ActionLink("Voltar", "Index") |
</p>
