@model IEnumerable<SupplyProject.Models.Produto_produtor>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Produto Produtor</h2>
@if (Session["tipoUsuario"].ToString() == "Produtor")
{
    <p>
        @Html.ActionLink("Inserir novo produto", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Id produto
        </th>
        <th>
            Nome
        </th>
        <th>
            Produtor que produz
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProduto_produtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_prodP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtor.nome_produtor)
            </td>
            <td>
                @if (Session["tipoUsuario"].ToString() == "Produtor")
                {
                    @Html.ActionLink("Atualizar", "Edit", new { id = item.idProduto_produtor })
                }|
                @Html.ActionLink("Detalhes", "Details", new { id = item.idProduto_produtor }) |

            </td>
        </tr>
    }

</table>
