@model IEnumerable<SupplyProject.Models.Produto_produtor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.largura_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altura_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profundidade_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade_prodP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempo_producaoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produtor.nome_produtor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largura_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profundidade_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade_prodP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempo_producaoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produtor.nome_produtor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProduto_produtor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProduto_produtor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProduto_produtor })
        </td>
    </tr>
}

</table>
