@model SupplyProject.Models.Pedido_usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse item?</h3>
<div>
    <h4>Pedido do usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Valor do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_pedido)
        </dd>

        <dt>
           Ano do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_pedido)
        </dd>

        <dt>
            Mes do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes_pedido)
        </dd>

        <dt>
            Dia do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_pedido)
        </dd>

        <dt>
            Armazem responsável
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.nome_armazem)
        </dd>

        <dt>
            Produto comprado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_fornecedor.nome_prodF)
        </dd>

        <dt>
            Usuario responsável pelo pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    }
</div>
