@model SupplyProject.Models.Demanda_produtor

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse item?</h3>
<div>
    <h4>Demanda do produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Ano do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_pedido)
        </dd>

        <dt>
           Mes do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes_pedido)
        </dd>

        <dt>
            Dia do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_pedido)
        </dd>

        <dt>
            Usuario resposável pelo pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

        <dt>
            Produto solicitado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_armazem.nome_prodA)
        </dd>

        <dt>
            Produto que necessita do item
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_produtor.nome_prodP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
