@model SupplyProject.Models.Demanda_produtor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Demanda_produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ano_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mes_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nome_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto_armazem.nome_prodA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_armazem.nome_prodA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto_produtor.nome_prodP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_produtor.nome_prodP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDemanda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
