@model SupplyProject.Models.PedidoFinal_usuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerar Pedido</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Pedido para fornecedor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Usuario_idUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Usuario_idUsuario", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Usuario_idUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Produto_fornecedor_idProduto_fornecedor, "Produto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Produto_fornecedor_idProduto_fornecedor", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Produto_fornecedor_idProduto_fornecedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quantidade, "Quantidade", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quantidade, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Armazem_idArmazem, "Armazem_idArmazem", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Armazem_idArmazem", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Armazem_idArmazem, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.statusPedido, "statusPedido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("statusPedido", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.statusPedido, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.preco_pedido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preco_pedido, new { htmlAttributes = new { @class = "form-control" } })
            Html.ValidationMessageFor(model => model.preco_pedido, "", new { @class = "text-danger" })
                @Html.DisplayFor(model => model.preco_pedido)
            </div>
        </div>*@

    <div class="form-group invisible">
        @Html.LabelFor(model => model.ano_pedido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ano_pedido, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.Year } })
            @Html.ValidationMessageFor(model => model.ano_pedido, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Cancelar", "Index")
    </div>

    <div class="form-group invisible">
        @Html.LabelFor(model => model.mes_pedido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mes_pedido, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.Month } })
            @Html.ValidationMessageFor(model => model.mes_pedido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group invisible">
        @Html.LabelFor(model => model.dia_pedido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dia_pedido, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.Day } })
            @Html.ValidationMessageFor(model => model.dia_pedido, "", new { @class = "text-danger" })
        </div>
    </div>


</div>
}

