@model SupplyProject.Models.PedidoFinal_usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PedidoFinal_usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.preco_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mes_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armazem.nome_armazem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.nome_armazem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto_fornecedor.nome_prodF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_fornecedor.nome_prodF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusPedido1.nome_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusPedido1.nome_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nome_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
