@model SupplyProject.Models.PedidoFinal_usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido do usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPedido)
        </dd>

        <dt>
            Id, Nome usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_idUsuario), @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

        <dt>
            Armazem destino
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.nome_armazem)
        </dd>

        <dt>
            Item pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_fornecedor.nome_prodF)
        </dd>

        <dt>
            quantidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            Valor do pedido
        </dt>

        @{ 
            var preco = Model.preco_pedido;
        }
    <dd>
        @string.Format("{0:C}", preco)
    </dd>

        <dt>
            Status do pedido
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusPedido1.nome_status)
        </dd>
        <dt>
            Dados de Entrega
        </dt>
        <dd>
            @Html.Raw(Html.Encode(ViewBag.DadosFrete).Replace("\n", "<br />"))
        </dd>

        <dt>
            Data de abertura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_pedido)/@Html.DisplayFor(model => model.mes_pedido)/@Html.DisplayFor(model => model.ano_pedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar para lista", "Index")
</p>
