@model SupplyProject.Models.DemandaFinal_produtor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Voce tem  certeza que quer deletar essa demanda?</h3>
<div>
    <h4>Demanda do Produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idDemandaFinal)
        </dd>

        <dt>
            Usuario Responsável
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

        <dt>
            Data de Abertura
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dia_pedido)/@Html.DisplayFor(model => model.mes_pedido)/@Html.DisplayFor(model => model.ano_pedido)
        </dd>

        <dt>
            Produto que originou a demanda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto_produtor.nome_prodP)
        </dd>

        <dt>
            Produto Solicitado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto_armazem.nome_prodA)
        </dd>
        <dt>
            Quantidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDemanda.nome_status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
