@model SupplyProject.Models.DemandaFinal_produtor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Demanda Aberta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idDemandaFinal)
        </dd>

        <dt>
            Usuario Responsável
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.nome_usuario)
        </dd>

        <dt>
            Data de Abertura
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dia_pedido)/@Html.DisplayFor(model => model.mes_pedido)/@Html.DisplayFor(model => model.ano_pedido)
        </dd>

        <dt>
           Produto que originou a demanda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto_produtor.nome_prodP)
        </dd>

        <dt>
            Produto Solicitado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto_armazem.nome_prodA)
        </dd>
        <dt>
            Quantidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDemanda.nome_status)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Voltar para lista", "Index")
</p>
