@model IEnumerable<SupplyProject.Models.DemandaFinal_produtor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Demandas Encerradas</h2>

<p>
    @Html.ActionLink("Informações sobre demandas", "ExibirEstatisticas")
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Usuario responsável
        </th>
        <th>
            Status
        </th>
        <th>
           Data
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idDemandaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nome_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDemanda.nome_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_pedido)/
                @Html.DisplayFor(modelItem => item.mes_pedido)/
                @Html.DisplayFor(modelItem => item.ano_pedido)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsEncerrada", new { id = item.idDemandaFinal })
            </td>
        </tr>
    }

</table>
