@model SupplyProject.Models.Armazem

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse item?</h3>
<div class="divMeio">
    <h4>Armazem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_armazem)
        </dd>

        <dt>
           Logradouro do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro_armazem)
        </dd>

        <dt>
            Numero do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numlogradouro_armazem)
        </dd>

        <dt>
            Largura do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largura_armazem)
        </dd>

        <dt>
            Altura do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_armazem)
        </dd>

        <dt>
           Profundidade do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profundidade_armazem)
        </dd>

        <dt>
           Telefone do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_armazem)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
