@model SupplyProject.Models.Armazem

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div class="divMeio">
    <h4>Armazem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID do armazem
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idArmazem)
        </dd>

        <dt>
            Nome do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_armazem)
        </dd>

        <dt>
            Endereco
        </dt>
        <dd>
            @Html.DisplayFor(model => model.logradouro_armazem), @Html.DisplayFor(model => model.numlogradouro_armazem)
        </dd>

        <dt>
            Largura do armazem
        </dt>
        <dd>
            @Html.DisplayFor(model => model.largura_armazem) (Metros)
        </dd>

        <dt>
            Altura do armazem
        </dt>
        <dd>
            @Html.DisplayFor(model => model.altura_armazem) (Metros)
        </dd>

        <dt>
            Profundidade do armazem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profundidade_armazem) (Metros)
        </dd>

        <dt>
            Telefone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_armazem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idArmazem })|
    @Html.ActionLink("Voltar para lista", "Index")
</p>
