@model IEnumerable<SupplyProject.Models.Armazem>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Armazens</h2>
@if (Session["tipoUsuario"].ToString() == "Gerente")
{
    <p>
        @Html.ActionLink("Inserir novo armazem", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Endereco
        </th>

        <th>
            Telefone
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_armazem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logradouro_armazem), @Html.DisplayFor(modelItem => item.numlogradouro_armazem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone_armazem)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idArmazem }) |
                @Html.ActionLink("Detalhar", "Details", new { id = item.idArmazem }) |
                @if (Session["tipoUsuario"].ToString() == "Gerente")
                {
                    @Html.ActionLink("Excluir armazem", "Delete", new { id = item.idArmazem })
                }
            </td>
        </tr>
    }

</table>
