@model IEnumerable<SupplyProject.Models.Fornecedor>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Fornecedores</h2>
@if (Session["tipoUsuario"].ToString() == "Gerente" || Session["tipoUsuario"].ToString() == "Fornecedor")
{
<p>
    @Html.ActionLink("Inserir novo Fornecedor", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            Id Fornecedor
        </th>
        <th>
            Nome
        </th>
        <th>
            Endereco
        </th>
        <th>
            E-mail
        </th>
        <th>
           Telefone
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_fornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logradouro_fornecedor), @Html.DisplayFor(modelItem => item.numlogradouro_fornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_fornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone_fornecedor)
            </td>
            <td>
                @if (Session["tipoUsuario"].ToString() == "Gerente")
                {
                    @Html.ActionLink("Atualizar", "Edit", new { id = item.idFornecedor })
                }|

                @Html.ActionLink("Detalhes", "Details", new { id = item.idFornecedor }) |
            </td>
        </tr>
    }

</table>
