@model SupplyProject.Models.Produtor

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse item?</h3>
<div>
    <h4>Produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nome do produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_produtor)
        </dd>

        <dt>
            Logradouro do produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro_produtor)
        </dd>

        <dt>
           Numero do produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numlogradouro_produtor)
        </dd>

        <dt>
            CNPJ do produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj_produtor)
        </dd>

        <dt>
            Telefone do produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_produtor)
        </dd>

        <dt>
           Email do produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_produtor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
