@model SupplyProject.Models.Produtor

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Produtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Produtor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProdutor)
        </dd>

        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_produtor)
        </dd>

        <dt>
            CNPJ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj_produtor)
        </dd>

        <dt>
            Endereco
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro_produtor), @Html.DisplayFor(model => model.logradouro_produtor) - @Html.DisplayFor(model => model.CEP),@Html.DisplayFor(model => model.Municipio) - @Html.DisplayFor(model => model.UF),@Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_produtor)
        </dd>

        <dt>
            Telefone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_produtor)
        </dd>

    </dl>
</div>
<p>
    @if (Session["tipoUsuario"].ToString() == "Gerente")
    {
        @Html.ActionLink("Atualizar", "Edit", new { id = Model.idProdutor })
    }|
        @Html.ActionLink("Voltar", "Index")
</p>
