@model SupplyProject.Models.Produtor

@{
    ViewBag.Title = "Edit";
}

<h2>Atualizar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Produtor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idProdutor)

    <div class="form-group">
        @Html.LabelFor(model => model.nome_produtor, "Razao Social", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nome_produtor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nome_produtor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.logradouro_produtor, "Logradouro", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.logradouro_produtor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.logradouro_produtor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.numlogradouro_produtor, "Numero", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numlogradouro_produtor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.numlogradouro_produtor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telefone_produtor, "Telefone", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefone_produtor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefone_produtor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email_produtor, "E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email_produtor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email_produtor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Atualizar" class="btn btn-default" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Cancelar", "Index")
    </div>

    <div class="form-group invisible">
        @Html.LabelFor(model => model.cnpj_produtor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cnpj_produtor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cnpj_produtor, "", new { @class = "text-danger" })
        </div>
    </div>




</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
