@model IEnumerable<SupplyProject.Models.Produtor>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<h2>Index</h2>
@if (Session["tipoUsuario"].ToString() == "Produtor")
{
    <p>
        @Html.ActionLink("Inserir novo Produtor", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Id produtor
        </th>
        <th>
            Nome
        </th>
        <th>
            Endereco
        </th>
        <th>
            E-mail
        </th>
        <th>
            Telefone
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProdutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_produtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logradouro_produtor), @Html.DisplayFor(modelItem => item.numlogradouro_produtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_produtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone_produtor)
            </td>
            <td>
                @if (Session["tipoUsuario"].ToString() == "Produtor")
                {
                    @Html.ActionLink("Atualizar", "Edit", new { id = item.idProdutor })
                }|
                @Html.ActionLink("Detalhes", "Details", new { id = item.idProdutor }) |
            </td>
        </tr>
    }

</table>
