@model SupplyProject.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armazem.nome_armazem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.nome_armazem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
