@model SupplyProject.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_usuario)
        </dd>

        <dt>
            Cargo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usuario)
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_usuario)
        </dd>

        <dt>
             Telefone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_usuario)
        </dd>

       

    </dl>
</div>
<p>
    @if (Session["tipoUsuario"].ToString() == "Gerente")
    {
        @Html.ActionLink("Atualizar", "Edit", new { id = Model.idUsuario })
    }|

    @Html.ActionLink("Voltar", "UsuariosCadastrados")
</p>
