@model SupplyProject.Models.Produto_fornecedor

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse item?</h3>
<div>
    <h4>Produto do Fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_prodF)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_prodF)
        </dd>

        <dt>
            Peso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_prodF)
        </dd>

        <dt>
            Largura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largura_prodF)
        </dd>

        <dt>
            Altura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_prodF)
        </dd>

        <dt>
            Profundidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profundidade_prodF)
        </dd>

        <dt>
           Quantidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade_prodF)
        </dd>

        <dt>
            Tempo de produção
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempo_producaoF)
        </dd>

        <dt>
            Fornecedor responsável
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.nome_fornecedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
