@model IEnumerable<SupplyProject.Models.Produto_armazem>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Produtor em Estoque</h2>
@if (Session["tipoUsuario"].ToString() == "Gerente" || Session["tipoUsuario"].ToString() == "SupplyChain")
{
    <p>
        @Html.ActionLink("Exibir Gráficos", "ExibirEstatisticas")
    </p>

    <p>
        @Html.ActionLink("Inserir novo produto", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Id Produto
        </th>
        <th>
            Nome produto
        </th>
        <th>
            Quantidade em estoque
        </th>
        <th>
            Usuario responsavel
        </th>
        <th>
            Armazem onde se encontra
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProduto_armazem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_prodA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade_prodA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nome_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Armazem.nome_armazem)
            </td>
            <td>

                | @Html.ActionLink("Detalhar", "Details", new { id = item.idProduto_armazem }) |

            </td>
        </tr>
    }

</table>
