@model IEnumerable<SupplyProject.Models.EnvioArmarazem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Envios Concluidos</h2>

<table class="table">
    <tr>
        <th>
            Id Envio
        </th>
        <th>
            Id Demanda
        </th>
        <th>
            Placa do veiculo transportador
        </th>
        <th>
            Status Envio
        </th>
        <th>
            Data Envio
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idDemanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.placa_veiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusEnvioArmazem.statusEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_envio)/@Html.DisplayFor(modelItem => item.mes_envio)/@Html.DisplayFor(modelItem => item.ano_envio)
            </td>
            <td>
                @*@if (Session["tipoUsuario"].ToString() == "Produtor")
                {
                    if (item.DemandaFinal_produtor.status_demanda == 1)
                    {
                        <a href="@Url.Action("Edit","DemandaFinalProdutor", new { id = item.idDemanda })">Concluir Demanda</a>
                    }
                }*@
                | @Html.ActionLink("Detalhes", "Details", new { id = item.idEnvio }) |
            </td>
        </tr>
    }

</table>
