@model SupplyProject.Models.Veiculo

@{
    ViewBag.Title = "Create";
}

<h2>Inserir novo Veiculo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Veiculo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
        @Html.LabelFor(model => model.tipo_veiculo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tipo_veiculo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipo_veiculo, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        <label class="control-label col-md-2" >Tipo de veiculo</label>

        <div class="col-md-10">
            <select class="form-control" id="tipo_veiculo" name="tipo_veiculo">
                <option>Iveco</option>
                <option>VUC</option>
                <option>Toco</option>
                <option>Truck</option>
                <option>Cavalo Mecânico Simples</option>
                <option>Cavalo Mecânico Trucado</option>
                <option>Carreta 2 eixos</option>
                <option>Carreta 3 eixos</option>
                <option>Bitrem</option>
                <option>Rodotrem</option>
            </select>
            @Html.ValidationMessageFor(model => model.tipo_veiculo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.custo_frete,"Custo por Km rodado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.custo_frete, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.custo_frete, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.capacidade_peso,"Capacidade total de carga", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.capacidade_peso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.capacidade_peso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.capacidade_altura,"Altura maxima em metros", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.capacidade_altura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.capacidade_altura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.capacidade_largura,"Largura maxima em metros", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.capacidade_largura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.capacidade_largura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.capacidade_profundidade,"Profundidade maxima em metros", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.capacidade_profundidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.capacidade_profundidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.placa_veiculo,"Placa do veiculo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.placa_veiculo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.placa_veiculo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Armazem_idArmazem, "Armazem a quem pertence", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Armazem_idArmazem", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Armazem_idArmazem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Inserir" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancelar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
