@model SupplyProject.Models.Veiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Veiculo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVeiculo)
        </dd>

        <dt>
            Tipo Veiculo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_veiculo)
        </dd>

        <dt>
            Placa do veiculo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placa_veiculo)
        </dd>

        <dt>
            Armazem onde se encontra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.nome_armazem)
        </dd>

        <dt>
            Custo por Km rodado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custo_frete)
        </dd>

        <dt>
            Peso maxima de carga (Metros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidade_peso)
        </dd>

        <dt>
            Altura maxima de carga (Metros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidade_altura)
        </dd>

        <dt>
            Largura maxima de carga (Metros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidade_largura)
        </dd>
        <dt>
            Profundidade maxima de carga (Metros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capacidade_profundidade)
        </dd>

    </dl>
</div>
<p>
    @if (Session["tipoUsuario"].ToString() == "Gerente")
    {
        @Html.ActionLink("Atualizar", "Edit", new { id = Model.idVeiculo })
    }|
    
    @Html.ActionLink("Voltar", "Index") |
</p>
